<% if @user.is_volunteer? %>
  <% title "Select an Area" %>
  <p>
    <span style="color:red">Not yet implemented, just navigate away and forget what you saw.</span>
    Choose a protected area to observe and report on, and help its local group to protect it.
  </p>
  <%= render 'area_select_list_view' %>
<% else %>
  As a subscriber/local group, you must add the area you protect so other people can volunteer to monitor it for you.

  <% title "Add your Area" %>
  <%= render 'new_area_form' %>
<% end %>