<div class="hero-unit">
        <h1>Bunjil Forest Watch</h1>
        <p>Keeping our forests alive </p>
        <p>Local Groups</p>
        <p><%= button_to "Sign Up »", "/signup",:class => 'btn btn-primary'%></p>
        <p><%= button_to "Job Dashboard", "/job_dash",:class => 'btn btn-danger'%></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Volunteers</h2>
           <p>The volunteer observers sign up to monitor satellite images on behalf of a local group. The volunteers may be distributed around the world with no direct connection to the local group other than through the monitoring service. They must have adequate time and Internet access. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4">
          <h2>Local Groups</h2>
           <p>"Community Forest Management (CFM) establishes formal systems between communities and Forest Departments in which communities have the right to controlled amounts of forest products from a given parcel of forest and in return agree to protect the forest and manage it collectively. Mostly these parcels are relatively small, from 25 to 500 hectares, being managed by groups of 10 to 50 households. A number of countries have used CFM very effectively to reverse </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Non-Government Organisations</h2>
          <p>Environmental NGOs Non-Government Organisations could promote the volunteering opportunity to their members. They also provide a narrative structure to the regular tasks and feedback. It is possible (but not necessary) that local groups and volunteers enter into agreements to preserve the forest.</p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
